/* Estilo global para a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Estilo do fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #d0d1de; /* Azul claro para o fundo da barra */
    border-radius: 10px; /* Borda arredondada */
}

/* Estilo do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #1e3a8a; /* Azul escuro para o "polegar" */
    border-radius: 10px; /* Borda arredondada */
    border: 2px solid #d0d1de; /* Borda clara, mais suave que o fundo */
}

/* Estilo do "polegar" da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #6d79e2; /* Azul mais claro para destacar ao passar o mouse */
}

/* Personalizando a barra de rolagem para elementos específicos */
.custom-scrollbar ::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar ::-webkit-scrollbar-thumb {
    background: #1e3a8a; 
    border-radius: 10px;
    border: 2px solid #d0d1de; 
}

.custom-scrollbar ::-webkit-scrollbar-track {
    background: #d0d1de; 
}
