.custom-table {
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    table-layout: fixed; 
}

.table-container {
    margin-top: 1%;
    max-height: 70vh;    
    border-radius: 8px;   
    border: 1px solid #e5e7eb; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: auto;
    overflow-x: auto; 
}

.custom-table-header {
    background-color: #1e3a8a;
    color: #ffffff;
    position: sticky;     
    top: 0;              
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.custom-table-header-cell {
    padding: 1rem 1.0rem;
    text-align: left;
    font-weight: 600;
}

.custom-table-row-even {
    background-color: #ffffff;
}

.custom-table-row-odd {
    background-color: #f9fafb;
}

.custom-table-cell {
    padding: 1rem;
    border-bottom: 1px solid #d1d5db;
    color: #374151;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}



.custom-table-cell:hover {
    background-color: #f3f4f6;
}
